body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: rgb(255, 199, 59);
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.leftContainer > p {
  font-size: 18px;
}

.leftContainer > img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  border: 3px solid #000;
  margin-bottom: 20px;
  background-color: rgba(219, 237, 241, 0.4);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #000;
  transition: background-color 1s ease-in-out;
}

.snake {
  background-color: rgb(255, 76, 76);
}

.snake-ladder-animation > img {
  width: 50px;
  height: 50px;
}

.ladder {
  background-color: rgb(125, 254, 125);
}

.active {
  border-radius: 50%;
  background-color: yellow; 
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
    background-color: #000000;
    border-radius: 5px;
}

.dice {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-size: cover;
}

.rollDice {
  background-color: blueviolet;
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 15px;
  font-weight: bold;
  border: none;
  border: 2px solid rgb(35, 5, 62);
}

.rollDice:hover {
  cursor: pointer;
}

/* Add a style for the disabled button */
#rollDice:disabled {
  background-color: #ccc; /* Change the background color for disabled state */
  cursor: not-allowed; /* Change cursor to indicate the button is not clickable */
  opacity: 0.6;
}

.win-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #3498db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* media queries css */

@media screen and (max-width: 1000px) {
  .board {
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
  }

  .leftContainer > img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 825px) {
  .board {
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 1px;
  }

  .leftContainer > img {
    width: 200px;
    height: 200px;
  }

  .leftContainer > h1 {
    font-size: 16px;
  }

  .leftContainer > p {
    font-size: 14px;
  }

  .cell {
    font-size: 10px;
  }
}

@media screen and (max-width: 680px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .board {
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    margin: 40px 0px;
    gap: 1px;
  }

  .leftContainer > img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 375px) {

  .board {
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(10, 32px);
    gap: 1px;
  }
}
